QLineEdit,
QTextEdit,
QPlainTextEdit {
	padding: $control-padding $text-padding;
	height: $control-inner-size;
	
	background-color: $control-bg;
	border: $control-border solid $control-bg;
	color: $control-fg;
}

QLineEdit:focus,
QTextEdit:focus,
QPlainTextEdit:focus {
	background-color: $control-bg-active;
	border-color: $control-bg-active;
	color: $control-fg-active;
}

QLineEdit:hover,
QTextEdit:hover,
QPlainTextEdit:hover {
	background-color: $control-bg-focus;
	border-color: $control-bg-focus;
	color: $control-fg-focus;
}

QLineEdit:read-only,
QTextEdit:read-only,
QPlainTextEdit:read-only {
	background-color: $control-bg-disabled;
	border-color: $control-bg-disabled;
	color: $control-fg-disabled;
}

QLineEdit:disabled,
QTextEdit:disabled,
QPlainTextEdit:disabled {
	background-color: $control-bg-disabled;
	border-color: $control-bg-disabled;
	color: $control-fg-disabled;
}
