$tabwidget-bg: hsla($primary-hue, $primary-sat * 0.8, 50%, 100% / 6);
$tabwidget-bd: hsla($primary-hue, $primary-sat, 75%, 100% / 3);
$tabwidget-fg: $control-fg;
$tabwidget-bg-disabled: hsla($primary-hue, $primary-sat * 0.5, 50%, 100% / 6);
$tabwidget-bd-disabled: hsla($primary-hue, $primary-sat * 0.5, 75%, 100% / 3);
$tabwidget-fg-disabled: $control-fg-disabled;
$tabwidget-title-bg: hsl($primary-hue, $primary-sat * 0.8, 75%);
$tabwidget-title-bd: hsl($primary-hue, $primary-sat, 50%);
$tabwidget-title-fg: $control-fg;

QTabWidget {
}

QTabWidget::tab-bar {
	padding: 0px $text-padding;
}

QTabWidget::pane {
	background: $tabwidget-bg;
	border: $control-border solid $tabwidget-bd;
	border-radius: 1px;
	margin-top: -$control-border;
	padding: 0px;
}

QTabBar::tab {
	padding: $control-padding $text-padding;
	height: $control-inner-size;
	border: $control-border solid $tabwidget-bd;
	background: $tabwidget-bg;
	border-top-left-radius: $control-border * 3;
	border-top-right-radius: $control-border * 3;
	margin-right: $control-border * 3;
}

QTabBar::tab:hover {
	background: $control-bg-active;
	border-color: $control-bg-active;
}

QTabBar::tab:selected {
	background: $control-bg-focus;
	border-color: $control-bg-focus;
	border-bottom-color: transparent;
}
