$groupbox-bg: hsla($primary-hue, $primary-sat * 0.8, 50%, 100% / 6);
$groupbox-bd: hsla($primary-hue, $primary-sat, 75%, 100% / 3);
$groupbox-fg: $control-fg;
$groupbox-bg-disabled: hsla($primary-hue, $primary-sat * 0.5, 50%, 100% / 6);
$groupbox-bd-disabled: hsla($primary-hue, $primary-sat * 0.5, 75%, 100% / 3);
$groupbox-fg-disabled: $control-fg-disabled;
$groupbox-title-bg: hsl($primary-hue, $primary-sat, 100% / 3);
$groupbox-title-bd: hsl($primary-hue, $primary-sat, 100% / 6);
$groupbox-title-fg: $control-fg;

QGroupBox {
	$padding: 1px;
	$border: 1px;

	padding: $padding;
	padding-top: $control-size / 4 * 3;
	margin-top: $control-size / 4;

	border: $border solid $groupbox-bd;
	border-radius: 1px; // TODO: Configurable
	background-color: $groupbox-bg;
	color: $groupbox-fg;
}

QGroupBox::title {
	$padding: 1px;
	$border: 1px;
	$size: $control-size - ($padding + $border) * 2;

	left: $control-size / 2;
	top: -$size / 4;
	height: $size;
	padding: $padding $text-padding;
	border: 1px solid $groupbox-title-bd;
	border-radius: 1px;
	background-color: $groupbox-title-bg;
	color: $groupbox-title-fg;
}

QGroupBox:disabled {
	background-color: $groupbox-bg-disabled;
	border-color: $groupbox-bd-disabled;
	color: $groupbox-fg-disabled;
}

QGroupBox::indicator { // TODO: Actually see how this looks.
	$border: 1px;
	$padding: 1px;
	$size: $control-size - ($border + $padding) * 2;

	background: $control-bg;
	border: $border solid $control-bg;
	padding: $padding;

	width: $size;
	height: $size;
}

QGroupBox::indicator:hover,
QGroupBox::indicator:focus {
	background: $control-bg-focus;
	border-color: $control-bg-focus;
}

QGroupBox::indicator:pressed {
	background: $control-bg-active;
	border-color: $control-bg-active;
	border-style: inset;
}

QGroupBox::indicator:disabled {
	background: $control-bg-disabled;
	border-color: $control-bg-disabled;
}

QGroupBox::indicator:indeterminate {
	image: $image-checkmark-unknown;
}

QGroupBox::indicator:unchecked {
	image: $image-checkmark-off;
}

QGroupBox::indicator:checked  {
	image: $image-checkmark-on;
}
