QPushButton {
	$border: 1px;
	$padding: 1px;
	$size: $control-size - ($border + $padding) * 2;

	//min-width: $size * 2;
	height: $size;
	padding: $padding $text-padding;
	background-color: $control-bg;
	border: 1px solid $control-bg;
	color: $control-fg;

	// TODO: border-radius?
	//border-radius: 1px;
}

QPushButton:checked {
	image: $image-checkmark-on;
	image-position: right center;
}

QPushButton:flat {
	background-color: transparent;
	border-color: transparent;
}

QPushButton:hover,
QPushButton:focus {
	background-color: $control-bg-focus;
	border-color: $control-bg-focus;
	color: $control-fg-focus;
}

QPushButton:pressed {
	background-color: $control-bg-active;
	border-color: $control-bg-active;
	border-style: inset;
	color: $control-fg-active;
}

QPushButton:disabled {
	background-color: $control-bg-disabled;
	border-color: $control-bg-disabled;
	color: $control-fg-disabled;
}

QPushButton:flat:disabled {
	background-color: transparent;
	border-color: transparent;
}
