@use "util.scss";

$test0: "rgb(255, 0, 0)";
$test1: "rgb(255, 128, 0)";
$test2: "rgb(255, 255, 0)";
$test3: "rgb(128, 255, 0)";
$test4: "rgb(0, 255, 0)";
$test5: "rgb(0, 255, 128)";
$test6: "rgb(0, 255, 255)";
$test7: "rgb(0, 128, 255)";
$test8: "rgb(0, 0, 255)";
$test9: "rgb(128, 0, 255)";
$test10: "rgb(255, 0, 255)";

OBSTheme {
	// - alternateBase
	// - base
	// - button
	// - buttonText
	// - brightText
	// - dark
	// - highlight
	// - highlightedText
	// - light
	// - link
	// - linkVisited
	// - mid
	// - midlight
	// - shadow
	// - text, foreground
	// - toolTipBase
	// - toolTipText
	// - windowText, windowForeground
	// - window, background
	// - placeholderText

	base: unquote($test0);
	alternateBase: unquote($test1);

	// Affects
	// - Hotkey Buttons (disabled, enabled)
	window: unquote($test10);

	// Affects
	// - QLabel
	windowText: $fg;

	button: unquote($test3);
	buttonText: $fg;

	text: $fg;
	brightText: $fg-highlight;
	highlightText: $fg-highlight;

	link: unquote($test4);
	linkVisited: unquote($test5);

	// shadow affects:
	// - QScrollBar (bottom & right border)
	shadow: unquote($test6);

	dark: unquote($test7);

	mid: unquote($test8);

	midlight: $control-bg-active;

	// light affects:
	// - QScrollBar (top & left border)
	light: unquote($test9);

	highlight: $control-bg-focus;
}


OBSTheme:disabled {

}

OBSTheme:active {

}

OBSTheme:inactive {

}
