// Colors: Primary, Secondary, Tertiary
$primary-hue: 210;
$primary-sat: 100%;
$primary-lum: 50%;
$secondary-hue: 210;
$secondary-sat: 100%;
$secondary-lum: 50%;
$tertiary-hue: 0;
$tertiary-sat: 0%;
$tertiary-lum: 100%;

@import "oceanblue-obstheme.scss"
