$listwidget-bg: hsla($primary-hue, $primary-sat * 0.8, 50%, math.div(100%, 6));
$listwidget-bd: hsla($primary-hue, $primary-sat, 75%, math.div(100%, 3));
$listwidget-fg: $control-fg;
$listwidget-bg-disabled: hsla($primary-hue, $primary-sat * 0.5, 50%, math.div(100%, 6));
$listwidget-bd-disabled: hsla($primary-hue, $primary-sat * 0.5, 75%, math.div(100%, 3));
$listwidget-fg-disabled: $control-fg-disabled;
$listwidget-title-bg: hsl($primary-hue, $primary-sat * 0.8, 75%);
$listwidget-title-bd: hsl($primary-hue, $primary-sat, 50%);
$listwidget-title-fg: $control-fg;

QListView {
	background: $listwidget-bg;
	border: $control-border solid $listwidget-bd;
	color: $listwidget-fg;
}

QListView::item {
	height: $control-size;
	padding: 0px;

	color: $listwidget-fg;
}

QListView::item:selected {
	background-color: $control-bg-active;
	border-color: $control-bg-active;
	color: $control-fg-active;
}

QListView::item:hover,
QListView::item:focus {
	background-color: $control-bg-focus;
	border-color: $control-bg-focus;
	color: $control-fg-focus;
}
