QPushButton {
	$margin: 0px;
	$padding: 2px 5px;
	$border: 0px;
	margin: $margin;
	padding: $padding;
	border-width: $border;
	border-style: none;
	border-radius: $theme-curve-radius;
	min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
	min-height: contentHeight($theme-size-controls, $margin, $padding, $border);
	border-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum, $theme-layer5-bg-sat);
	background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum, $theme-layer5-bg-sat);
	color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum, $theme-layer5-fg-sat);

	&:checked {
		image: $image-checkmark-on;
		image-position: right center;
	}

	&:flat {
		$border: 0px;
		border-width: $border;
		border-style: solid;
		min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
		min-height: contentHeight($theme-size-controls, $margin, $padding, $border);
		background-color: transparent;
		border-color: transparent;
	}

	&:hover, &:focus {
		border-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-hover-lum, $theme-layer5-bg-sat * $theme-hover-sat);
		background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-hover-lum, $theme-layer5-bg-sat * $theme-hover-sat);
		color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum * $theme-hover-lum, $theme-layer5-fg-sat * $theme-hover-sat);
	}

	&:pressed {
		border-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-pressed-lum, $theme-layer5-bg-sat * $theme-pressed-sat);
		background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-pressed-lum, $theme-layer5-bg-sat * $theme-pressed-sat);
		color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum, $theme-layer5-fg-sat);
	}

	&:flat:pressed {

	}

	&:disabled {
		border-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-disabled-lum, $theme-layer5-bg-sat * $theme-disabled-sat);
		background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-disabled-lum, $theme-layer5-bg-sat * $theme-disabled-sat);
		color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum * $theme-disabled-lum, $theme-layer5-fg-sat * $theme-disabled-sat);
	}

	&:flat:disabled {
		background-color: transparent;
		color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum * $theme-disabled-lum, $theme-layer5-fg-sat * $theme-disabled-sat);
	}
}
