QRadioButton {
	color: $control-fg;
}
QRadioButton:disabled {
	color: $control-fg-disabled;
}

QRadioButton::indicator {
	width: $control-inner-size;
	height: $control-inner-size;
	padding: $control-padding;
	border: 1px solid $control-bg;
	background-color: $control-bg;
	color: $control-fg;
	border-radius: $control-size / 2;
}

QRadioButton::indicator:hover,
QRadioButton::indicator:focus {
	border-color: $control-bg-focus;
	background-color: $control-bg-focus;
	color: $control-fg-focus;
}

QRadioButton::indicator:pressed {
	border-color: $control-bg-active;
	background-color: $control-bg-active;
	color: $control-fg-active;
	border-style: inset;
}

QRadioButton::indicator:disabled {
	border-color: $control-bg-focus;
	background-color: $control-bg-focus;
	color: $control-fg-focus;
}

QRadioButton::indicator:unchecked {
	image: none;
}

QRadioButton::indicator:checked {
	image: url(./OceanBlue/dot.svg);
	border-style: outset;
}
