// Also contains QDoubleSpinBox (same element, just with float)

QSpinBox, QDoubleSpinBox {
	$margin: 0px;
	$padding: 2px 5px;
	$border: 0px;

	margin: $margin;
	padding: $padding;
	border: $border solid transparent;
	border-radius: $theme-curve-radius;
	min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
	min-height: contentHeight($theme-size-controls, $margin, $padding, $border);
	background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum, $theme-layer5-bg-sat);
	color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum, $theme-layer5-fg-sat);

	&::up-arrow,
	&::down-arrow {
		width: $theme-size-controls;
		height: math.div($theme-size-controls, 2);
	}

	&::up-arrow {
		image: $image-arrow-up;
	}

	&::down-arrow {
		image: $image-arrow-down;
	}

	&:focus {
		background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-focus-lum, $theme-layer5-bg-sat * $theme-focus-sat);
		color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum * $theme-focus-lum, $theme-layer5-fg-sat * $theme-focus-sat);
	}

	&:hover {
		background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-hover-lum, $theme-layer5-bg-sat * $theme-hover-sat);
		color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum * $theme-hover-lum, $theme-layer5-fg-sat * $theme-hover-sat);
	}

	&:disabled {
		background-color: yuv709cc($theme-color-bg, $theme-layer5-bg-lum * $theme-disabled-lum, $theme-layer5-bg-sat * $theme-disabled-sat);
		color: yuv709cc($theme-color-fg, $theme-layer5-fg-lum * $theme-disabled-lum, $theme-layer5-fg-sat * $theme-disabled-sat);
	}

	&:up-button,
	&:down-button {
		background-color: yuv709cc($theme-color-bg, $theme-layer6-bg-lum, $theme-layer6-bg-sat);
		color: yuv709cc($theme-color-fg, $theme-layer6-fg-lum, $theme-layer6-fg-sat);

		&:focus {
			background-color: yuv709cc($theme-color-bg, $theme-layer6-bg-lum * $theme-focus-lum, $theme-layer6-bg-sat * $theme-focus-sat);
			color: yuv709cc($theme-color-fg, $theme-layer6-fg-lum * $theme-focus-lum, $theme-layer6-fg-sat * $theme-focus-sat);
		}

		&:hover {
			background-color: yuv709cc($theme-color-bg, $theme-layer6-bg-lum * $theme-hover-lum, $theme-layer6-bg-sat * $theme-hover-sat);
			color: yuv709cc($theme-color-fg, $theme-layer6-fg-lum * $theme-hover-lum, $theme-layer6-fg-sat * $theme-hover-sat);
		}

		&:pressed {
			background-color: yuv709cc($theme-color-bg, $theme-layer6-bg-lum * $theme-pressed-lum, $theme-layer6-bg-sat * $theme-pressed-sat);
			color: yuv709cc($theme-color-fg, $theme-layer6-fg-lum * $theme-pressed-lum, $theme-layer6-fg-sat * $theme-pressed-sat);
		}

		&:disabled {
			background-color: yuv709cc($theme-color-bg, $theme-layer6-bg-lum * $theme-disabled-lum, $theme-layer6-bg-sat * $theme-disabled-sat);
			color: yuv709cc($theme-color-fg, $theme-layer6-fg-lum * $theme-disabled-lum, $theme-layer6-fg-sat * $theme-disabled-sat);
		}
	}
}
