QTabWidget {
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;

	&::pane {
		$margin: 0px;
		$padding: 5px 5px;
		$border: 1px;
	
		margin: $margin;
		padding: $padding;
		border: $border solid transparent;
		border-radius: $theme-curve-radius;
		min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
		min-height: contentHeight($theme-size-controls, $margin, $padding, $border);
		border-color: color.adjust(yuv709cc($theme-color-bg, $theme-layer3-bg-lum, $theme-layer3-bg-sat), $alpha: -.5);
		background-color: color.adjust(yuv709cc($theme-color-bg, $theme-layer3-bg-lum, $theme-layer3-bg-sat), $alpha: -.75);
		color: yuv709cc($theme-color-fg, $theme-layer3-fg-lum, $theme-layer3-fg-sat);
	}

	&::tab-bar {
		$margin: 0px;
		$padding: 0px 5px;
		$border: 0px;
	
		margin: $margin;
		padding: $padding;
		border: $border solid transparent;
		border-radius: $theme-curve-radius;
		min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
		min-height: contentHeight($theme-size-controls, $margin, $padding, $border);
		border-color: transparent;
		background-color: transparent;
	}

	& > QTabBar {
		&::tab {
			$margin: 5px 0px 0px 0px;
			$padding: 2px 5px;
			$border: 1px 1px 0px 1px;
		
			margin: $margin;
			padding: $padding;
			border-style: solid;
			border-width: $border;
			border-radius: $theme-curve-radius;
			min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
			min-height: contentHeight($theme-size-controls, $margin, $padding, $border);
			border-color: color.adjust(yuv709cc($theme-color-bg, $theme-layer3-bg-lum, $theme-layer3-bg-sat), $alpha: -.5);
			background-color: color.adjust(yuv709cc($theme-color-bg, $theme-layer3-bg-lum, $theme-layer3-bg-sat), $alpha: -.75);
			color: yuv709cc($theme-color-fg, $theme-layer3-fg-lum, $theme-layer3-fg-sat);

			&:focus {
				border-color: yuv709cc($theme-color-bg, $theme-layer3-bg-lum * $theme-focus-lum, $theme-layer3-bg-sat * $theme-focus-sat);
				background-color: yuv709cc($theme-color-bg, $theme-layer3-bg-lum * $theme-focus-lum, $theme-layer3-bg-sat * $theme-focus-sat);
				color: yuv709cc($theme-color-fg, $theme-layer3-fg-lum * $theme-focus-lum, $theme-layer3-fg-sat * $theme-focus-sat);
			}

			&:hover {
				border-color: yuv709cc($theme-color-bg, $theme-layer3-bg-lum * $theme-hover-lum, $theme-layer3-bg-sat * $theme-hover-sat);
				background-color: yuv709cc($theme-color-bg, $theme-layer3-bg-lum * $theme-hover-lum, $theme-layer3-bg-sat * $theme-hover-sat);
				color: yuv709cc($theme-color-fg, $theme-layer3-fg-lum * $theme-hover-lum, $theme-layer3-fg-sat * $theme-hover-sat);
			}

			&:selected {
				$margin: 0px;
				margin: $margin;
				min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
				min-height: contentHeight($theme-size-controls, $margin, $padding, $border);

				border-color: yuv709cc($theme-color-bg, $theme-layer3-bg-lum, $theme-layer3-bg-sat);
				background-color: #{"qlineargradient(x1: 0, y1: 0, x1: 0, y2: 1"},
					#{"stop: 0.5"} yuv709cc($theme-color-bg, $theme-layer3-bg-lum * $theme-focus-lum, $theme-layer3-bg-sat * $theme-focus-sat),
					#{"stop: 1 "} color.adjust(yuv709cc($theme-color-bg, $theme-layer3-bg-lum, $theme-layer3-bg-sat), $alpha: -.5)
					#{")"};
				color: yuv709cc($theme-color-fg, $theme-layer3-fg-lum, $theme-layer3-fg-sat);
			}

			&:only-one {
				$margin: 0px;
				margin: $margin;
				min-width: contentWidth($theme-size-controls, $margin, $padding, $border);
				min-height: contentHeight($theme-size-controls, $margin, $padding, $border);
			}
		}
	}
}
