@use "sass:color";
@use "sass:list";
@import "../util.scss";

QMainWindow,
QDialog,
QDockWidget {
	background-color: yuv709cc($theme-color-bg, .1, 1);
	color: $theme-color-fg;
}

QMainWindow:disabled,
QDialog:disabled,
QDockWidget:disabled {
 	background-color: yuv709cc($theme-color-bg, 1, .25);
 	color: yuv709cc($theme-color-fg, .1, .25);
}

QDockWidget::title {
	background-color: yuv709cc($theme-color-bg, .67, 1);
	border-color: yuv709cc($theme-color-bg, .67, .5);
	border-radius: 1px;
	color: yuv709cc($theme-color-fg, 1, 1);
	padding: 0px 2px;
	min-height: $theme-size-titlebar;
	vertical-align: center;
	text-align: center;
}

QDockWidget::title:disabled {
	background-color: yuv709cc($theme-color-bg, .67, .25);
	border-color: yuv709cc($theme-color-bg, .67, .125);
	color: yuv709cc($theme-color-fg, .5, .25);
}

QDockWidget::float-button,
QDockWidget::close-button {
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: $theme-curve-radius;
	border-style: inset;
	color: $theme-color-fg;
	icon-size: $theme-size-titlebar - 6px;
	padding: 3px;
	margin: 0px;
}

QDockWidget::float-button:hover,
QDockWidget::float-button:focus,
QDockWidget::close-button:hover,
QDockWidget::close-button:focus {
	background-color: yuv709cc($theme-color-bg, 1, 1);
	border-color: transparent;
	color: yuv709cc($theme-color-fg, 1, 1);
}

QDockWidget::float-button:pressed,
QDockWidget::close-button:pressed {
	background-color: yuv709cc($theme-color-bg, .5, 1);
	border-color: transparent;
	color: yuv709cc($theme-color-fg, .5, 1);
}

QDockWidget::float-button:disabled,
QDockWidget::close-button:disabled {
	background-color: yuv709cc($theme-color-bg, .67, .25);
	border-color: yuv709cc($theme-color-bg, .67, .125);
	color: yuv709cc($theme-color-fg, .5, .25);
}
