$sourcetoolbar-bg: hsl($primary-hue, $primary-sat, math.div(100%, 6));

* [themeID="addIconSmall"] {
	qproperty-icon: url(./OceanBlue/plus.svg);
}

* [themeID="removeIconSmall"] {
	qproperty-icon: url(./OceanBlue/minus.svg);
}

* [themeID="upArrowIconSmall"] {
	qproperty-icon: url(./OceanBlue/arrow_up.svg);
}

* [themeID="downArrowIconSmall"] {
	qproperty-icon: url(./OceanBlue/arrow_down.svg);
}

* [themeID="propertiesIconSmall"],
* [themeID="configIconSmall"] {
	qproperty-icon: url(./OceanBlue/gear.svg);
}

* [themeID="revertIcon"] {
	qproperty-icon: url(./OceanBlue/undo.svg);
}

* [themeID="trashIcon"] {
	qproperty-icon: url(./OceanBlue/trash.svg);
}

// --------------------------------------------------------------------------------
// Scenes & Sources Toolbar
// --------------------------------------------------------------------------------
#scenesToolbar,
#sourcesToolbar {
	height: $control-size;
	background-color: $sourcetoolbar-bg;
}

#scenesToolbar QAction,
#sourcesToolbar QAction {
	width: $control-size;
	height: $control-size;

}

// --------------------------------------------------------------------------------
// Custom
// --------------------------------------------------------------------------------

VisibilityCheckBox,
LockedCheckBox,
MuteCheckBox {
	width: $control-size;
	height: $control-size;
	padding: 0px;
	margin: 0px;
	border: 0px solid transparent;
}

VisibilityCheckBox::indicator,
LockedCheckBox::indicator,
MuteCheckBox::indicator {
	// For unknown reasons, the parent item has 1px padding and border.
	width: $control-size - 4px;
	height: $control-size - 4px;
	padding: 0px;
	margin: 0px;
	border: 0px solid transparent;
	background: transparent;
}

// --------------------------------------------------------------------------------
// Locked CheckBox
// --------------------------------------------------------------------------------

LockedCheckBox::indicator:checked {
	image: $image-lock-closed;
}

LockedCheckBox::indicator:unchecked {
	image: $image-lock-open;
}

// --------------------------------------------------------------------------------
// Muted CheckBox
// --------------------------------------------------------------------------------

MuteCheckBox::indicator:checked {
	image: $image-audio-muted;
}

MuteCheckBox::indicator:unchecked {
	image: $image-audio-unmuted;
}

// --------------------------------------------------------------------------------
// Source Tree Sub-Item CheckBox
// --------------------------------------------------------------------------------

SourceTreeSubItemCheckBox {
	width: $control-size;
	height: $control-size;
	padding: 0px;
	margin: 0px;
	border: 0px solid transparent;
	background: transparent;
}

SourceTreeSubItemCheckBox::indicator {
	// For unknown reasons, the parent item has 1px padding and border.
	width: 8px;
	height: $control-size;
	padding: 0px;
	margin: 0px;
	border: 0px solid transparent;
	background: transparent;
}

SourceTreeSubItemCheckBox::indicator:checked {
	image: $image-arrow-down;
}

SourceTreeSubItemCheckBox::indicator:unchecked {
	image: $image-arrow-right;
}

// --------------------------------------------------------------------------------
// Visibility CheckBox
// --------------------------------------------------------------------------------

VisibilityCheckBox::indicator:checked {
	image: $image-eye-open;
}

VisibilityCheckBox::indicator:unchecked {
	image: $image-eye-closed;
}
